@{
    ViewData["Title"] = "Manage Users";
}

<br />
<br />
<br />
<h1>@ViewData["Title"]</h1>

<table id="users-table" class="table table-bordered table-condensed table-hover table-striped">
    <thead>
        <tr>
            <th>Username</th>
            <th>Email Address</th>
            <th>Account Type</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in ViewData["Users"] as List<string[]>)
        {
            <tr>
                <td> @item[0] </td>
                <td> @item[1] </td>
                @if (item[2] == "Alias")
                {
                    <td><b class="@item[2]">@item[2]</b></td>
                }
                else
                {
                    <td><a href=@("/Home/ManageUser/?AccountChangeEmail=" + item[1]) class="@item[2]"> @item[2] </a></td>
                }

            </tr>
        }
    </tbody>
</table>
