@using WindowsAuth.models;
@model IEnumerable<UserEntry>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email )
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alias )
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isAuthorized )
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email )
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Alias )
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isAdmin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.isAuthorized)
                </td>

            </tr>
        }
    </tbody>
</table>

